body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  z-index: 2;
  color: #eee;
  position: relative;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #eee;
  font-weight: 900;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-weight: 100;
}

.title {
  font-weight: 900;
  color: #eee;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}
